@font-face {
  font-family: bold;
  src: url(../../public/fonts/Product\ Sans\ Bold.ttf);
}
@font-face {
  font-family: normal;
  src: url(../../public/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: medium;
  src: url(../../public/fonts/ProductSans-Medium.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .col-1 {
    @apply w-1/12;
    padding: 0.75rem;
  }
  .col-2 {
    @apply w-2/12;
    padding: 0.75rem;
  }
  .col-3 {
    @apply w-3/12;
    padding: 0.75rem;
  }
  .col-4 {
    @apply w-4/12;
    padding: 0.75rem;
  }
  .col-5 {
    @apply w-5/12;
    padding: 0.75rem;
  }
  .col-6 {
    @apply w-6/12;
    padding: 0.75rem;
  }
  .col-7 {
    @apply w-7/12;
    padding: 0.75rem;
  }
  .col-8 {
    @apply w-8/12;
    padding: 0.75rem;
  }
  .col-9 {
    @apply w-9/12;
    padding: 0.75rem;
  }
  .col-10 {
    @apply w-10/12;
    padding: 0.75rem;
  }
  .col-11 {
    @apply w-11/12;
    padding: 0.75rem;
  }
  .col-12 {
    @apply w-full;
    padding: 0.75rem;
  }
}

html {
  font-family: "normal";
}

.p-0 {
  padding: 0;
}

/* Hero Start */

.hero {
  background-image: url("../../public/images/hero-bg.png");
  background-size: cover;
}

header {
  background-color: rgba(240, 244, 255, 1);
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  animation: header 1s ease-out;
  background: rgba(246, 248, 255, 0.3);
  backdrop-filter: blur(8px);
}

@keyframes header {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-headline h1 {
  background-image: url(../../public/images/hero-text-shape.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 95%;
}

@media (min-width: 1024px) {
  .hero-headline h1 {
    background-size: auto;
    background-position: center 95%;
  }
}

@media (min-width: 320px) {
  .hero-headline h1 {
    background-size: 70%;
    background-position: center 100%;
  }
}

/* why-choose-us sec */
section.why-choose-us {
  background: linear-gradient(
    270deg,
    rgba(81, 41, 244, 0.1) 0%,
    rgba(62, 255, 209, 0.1) 100%
  );
}

/* industries section */

.po-industry-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-10);
  }
}

/* testimonials */

.po-testimonial-slider .mySwiper {
  padding: 1rem;
}

/* talk to expert */
.talk-to-expert {
  background-image: url(../../public/images/talk-to-expert-bg.png);
  background-size: cover;
  background-position: center;
}

/* blog details */
.blog-hero-sec {
  background-image: url(../../public/images/blog-hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* services */
.service-hero,
.service-detail-hero {
  background-image: url(../../public/images/service-hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* blog */
.blog-content h1,
.blog-content h2 {
  padding-top: 10px;
  padding-bottom: 5px;
  /* color: #0a2540; */
  color: #714b67;

  font-size: 26px;
  font-family: medium;
}

.blog-content h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #714b67;
  font-size: 22px;
  font-family: medium;
}

.blog-content p {
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #0a2540;
  font-size: 18px;
}

.blog-content ul,
.blog-content ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.blog-content ol {
  list-style: decimal;
}

.blog-content li {
  color: #737887;
  font-family: normal;
  line-height: 26px;
  /* font-weight: 400; */
}

.blog-content li strong {
  color: #737887;
  font-family: bold;
}

.blog-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 1rem 0;
}

.blog-content a {
  color: #714b67;
  text-decoration: none;
}

.blog-content pre {
  background-color: #0f172a;
  color: rgb(197, 200, 198);
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow-x: auto;
}

.blog-content .copy-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  background-color: #475569;
  color: #fff;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* contact */

.contact-card:hover > .icon {
  background-color: white;
}
.contact-card:hover > .icon .icon-fill {
  fill: #714b67 !important;
}

.contact-card:hover h4,
.contact-card:hover p,
.contact-card:hover address {
  color: white;
}

/* industry */
.industry-link i,
.service-link i {
  transition: all 0.3s;
}

.industry-link:hover i,
.service-link:hover i {
  transform: translateX(5px);
}

.industries-tal-to-expert {
  background-image: url(../../public/images/industry_talk_to_expert.png);
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet {
  width: 9px !important;
  height: 9px !important;
}

.swiper-pagination-bullet-active {
  background-color: #714b67 !important;
  width: 12px !important;
  height: 12px !important;
}

/* call button */
.pulse-button span {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #714b67;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: right;
}

.pulse-button span:before {
  font-family: FontAwesome;
  content: "\f095";
  width: 15px;
  height: 15px;
  display: block;
  margin: 8px 12px;
  -webkit-animation: wiggle 2s infinite;
  -moz-animation: wiggle 2s infinite;
  animation: wiggle 2s infinite;
}

.pulse-button i {
  font-size: 15px;
  margin: 0 auto;
  opacity: 0.5;
}
.pulse-button {
  color: #ffffff;
  font-weight: medium;
  position: relative;
  width: 150px;
  padding: 5px 15px 6px 17px;
  line-height: 25px;
  text-align: left;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 rgba(155, 91, 139, 0.3);
  border-radius: 40px;
  background-color: #714b67;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 25px rgba(255, 232, 160, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 25px rgba(255, 232, 160, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 25px rgba(255, 232, 160, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 25px rgba(255, 232, 160, 0);
  }
}

/* safari and chrome */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
  }
}

/* firefox */
@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(15deg);
  }
  50% {
    -moz-transform: rotate(-15deg);
  }
  100% {
    -moz-transform: rotate(15deg);
  }
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
